/* BEGIN: global */
body { 
  margin: 0;
}

body, p, ol, ul, td {
  font-family: 'Microsoft YaHei','微软雅黑',Arial,Helvetica,sans-serif;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
  text-decoration: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/* END: global */

/* BEGIN: sky bar */
#skyBar {
  background-image: url(/images/sky-bar.png);
  height: 30px;
}

#skyBarContent {
  color: #EEE;
  float: right;
  padding-top: 5px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

a.skyBarLink {
  color: #ccd;
}

a.skyBarLink:hover {
  color: #fff;
}
/* END: sky bar */

/* BEGIN: content bar */
#contentBar {
  min-height: 650px;
  background-color: #eee;
  background-image: url(/images/login-background.jpg);
}
/* END: content bar */

/* BEGIN: ground bar */
#groundBar {
  text-align: center;
  background-color: #4040b5;
  height: 2px;
  margin-bottom: 20px;
}

#groundBarContent {
  padding-top: 15px;
}
/* END: ground bar */

/* BEGIN: login */
#loginPanel {
  margin: auto;
  padding: 15px;
  background-color: #bee;
  width: 300px;
}
/* END: login */
