<div class="formPanel">
  <p class="formField">
    <label>名字:</label>
    <%=h @user.nickname %>
  </p>
  
  <p class="formField">
    <label>电子邮件:</label>
    <%=h @user.email %>
  </p>
  
  <p class="formField">
    <label>用户角色:</label>
    <% if 0 == @user.role %>
      管理员
    <% else %>
      普通用户
    <% end %>
  </p>
  
  <p class="formField">
  <%= link_to '更改', edit_user_path(@user) %> |
  <%= link_to '返回', @current_user.role == 0 ? users_path : expense_month_path(Date.today.year, Date.today.mon) %>
  </p>
</div>
